$border_radius__small: 3px;
$box_shadow__small: 0 2px 3px hsla(0, 0, 0, 0.25);
$box_shadow__medium: 0 6px 12px hsla(0, 0, 0, 0.2);
$box_shadow__large: 0 8px 24px hsla(0, 0, 0, 0.15);
$box_shadow__large__dark: 0 6px 12px $primary__100;
