$font__main: mrs-eaves, serif;
$font__headings: mrs-eaves, serif;
$font-sans-serif: myriad-pro, sans-serif; 
$font__code: Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
$font__pre: "Courier 10 Pitch", Courier, monospace;
$font__line-height-body: 1.3;
$font__line-height-pre: 1.6;

$font-size__100: 10px;
$font-size__200: 12px;
$font-size__300: 14px;
$font-size__400: 16px;
$font-size__500: 18px;
$font-size__600: 28px;
$font-size__700: 36px;
$font-size__800: 48px;
$font-size__900: 72px;

$letter-spacing__heading: 0.035em;