.featured-event {
	position: relative;
  background: $grey__100;
  box-shadow: $box_shadow__medium, $box_shadow__small;
}

.featured-event__image {
  height: 200px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.featured-event__content {
  padding: $spacing__medium;
	background: $primary__100;
  color: $grey__900;
  height: calc(580px - 200px);
  display: flex;
  flex-flow: column;
  justify-content: space-between;

  .event-excerpt {
    font-size: $font-size__400;
    line-height: 1.5;
    flex: 1 0 auto;
    color: $grey__800;
    letter-spacing: 0.04em;
  }

  .event-accompanists {
    color: $primary__500;
    font-weight: 400;
  }

  .btn--featured {
    text-align: center;
  }
}

.featured-event-header {
	margin-bottom: 2rem;
}

.featured-event__title {
	font-size: 2.5rem;
	line-height: 1.15;
  margin: 0;
  color: $primary__500;
}

@media screen and (min-width: #{$breakpoint__medium}) {
  .featured-event {
    height: 400px;
  }
  
  .featured-event__image {
    position: absolute;
    right: 0;
    width: 56%;
    height: 100%;
  }
  
  .featured-event__content {
    position: absolute;
    left: 0;
    height: 100%;
    width: 100%;
    background: none;
    background-image: linear-gradient(106deg, #{$primary__100} 50%, transparent 50%);

    > * {
      width: 450px;
      max-width: 50%;
    }

    .btn--featured {
      width: 200px;
    }
  }
}