$size__site-main: 1200px;
$size__site-content: 800px;
$size__site-sidebar: 33.33%;

$breakpoint__small: 37.5em; /* 600px */
$breakpoint__medium: 48em; /* 768px */
$breakpoint__large: 64em; /* 1024px */
