ul {

  ul {


    ul {

    }

    li {
      &:hover > ul,
      &.focus > ul {
        
      }
    }

    a {
      
    }

    :hover > a,
    .focus > a {
    }

    a:hover,
    a.focus {
    }
  }

  li:hover > ul,
  li.focus > ul {
    
  }
}

li {
  

  &:hover > a,
  &.focus > a {
  }
}

a {
  
}

.current_page_item > a,
.current-menu-item > a,
.current_page_ancestor > a,
.current-menu-ancestor > a {
}


/* Small menu. */
.menu-toggle,
&.toggled ul {
  display: block;
}

.menu-toggle {
  background: none;
  border: 0;

  > div {
    width: 25px;
    height: 2px;
    margin: 3px;
    background: $color__mobile-menu;
  }
}

@media screen and (min-width: 37.5em) {
  .menu-toggle {
    display: none;
  }
  ul {
    display: block;
  }
}
